/* Reseta algumas propriedades básicas */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 1%;
    box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    line-height: 1.6;
}

/* Estilo para o título principal */
h1 {
    font-size: 2.5em;
    color: #4CAF50;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo para o subtítulo */
h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo para as caixas das aulas */
.aula {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o parágrafo */
p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Estilo para a lista de exercícios */
ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    background: #f9f9f9;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

ul li:hover {
    background: #f1f1f1;
}

ul li a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

/* Estilo para o controle de áudio */
audio {
    display: block;
    margin: 20px auto;
    width: 100%;
}

.logo-rodape{
    width: 10%;
    height: 10%;
}

.aulas {
    float: left;
    background-color: #f5dcdc;
    background-size: contain;
    background: linear-gradient(#f5dcdc, #bebef4);
}
footer {
    margin-top:10px;
    /*background: url(../img/index_bg.jpg);*/
    background-color: #8AD6E6;
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%
}

.logo-rodape {
    width: 50px;
    height: auto;
}

footer .social {
    list-style: none;
    padding: 0;
    margin: 1% 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .social li a {
    color: rgb(226, 0, 0);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

footer .social li a:hover {
    background-color: #8AD6E6;
    color: yellow;
}
