body {
    background-image: url("../img/bolso.png");
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(0, 0, 0);
    background-size: cover;
}

h1 {
    border-color: rgb(255, 255, 255);
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(103, 116, 116);
    color: rgb(0, 0, 0);
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

h2 {
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(103, 116, 116);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

p {
    border-color: rgb(255, 255, 255);
    background-color: rgb(103, 116, 116);
    border-style: solid;
}

p::first-letter {
    font-weight: bold;
}

h1+p {
    text-indent: 0;
}

p::first-line {
    font-variant: small-caps;
}
